[2020-04-16 11:14] Neustradamus opened #45 "Move namjaejeon/exfatprogs into exfatprogs organization"
@namjaejeon: Can you move this original code into exfat-tools organization?

Steps to do:
- Create a temporary org, for example exfat-tools-temp
- Transfer exfat-tools/exfat-tools into exfat-tools-temp
- Transfer your namjaejeon/exfat-tools into exfat-tools
- Transfer exfat-tools-temp/exfat-tools in your personal account
- Remove the exfat-tools-temp temporary org
- Merge the code in the main repo

[2020-04-16 17:13] rubyFeedback opened #46 "[Documentation] Would it be possible to add a paragraph explaining the use case or reason for exfat-utils to exist, in the main README?"
Hello Namjae Jeon,

I recently read about exfat-utils on reddit, so I landed here. I do not know much else
about the project, which brought me to this question:

- Do you think it would be possible to add a very short paragraph, on the main
README.md of the project, explaining the main use case or motivation for
exfat-utils?

Right now I wonder about how exfat-utils fits into the rest of the toolc

[2020-04-17 19:37] jameshilliard opened #51 "fsck.c:1053:18: error: ‘node’ may be used uninitialized in this function [-Werror=maybe-uninitialized]"
I'm seeing this build error when i attempt to compile exfatprogs.
[code]

[2020-04-17 22:23] namjaejeon commented on #51
@jameshilliard Can you send the patch to fix it ?

[2020-04-17 22:31] jameshilliard commented on #51
@namjaejeon I attempted to write one but I'm not really sure how to fix this properly.

[2020-04-17 22:51] hclee commented on #51
it seems initializing the variable with NULL is enough.

[2020-04-20 06:12] namjaejeon commented on #51
@jameshilliard Could you please try to build with #exfat-next of exfatprogs ? We applied the patch to #exfat-next branch.

[2020-04-23 16:06] ismail opened #61 "Install a header file to be able to link against libexfat.so"
The source package when built provides libexfat.so but this is useless unless there is some public header/pkgconfig file to consume this library.

[2020-04-24 07:04] namjaejeon commented on #61
Hi,
Acutally I didn't understand what is issue you raise. Can you send the patch to fix it ?
Thanks!

[2020-04-24 07:05] namjaejeon commented on #46
Sorry for late response. I will update it on this weekends.
Thanks for your feedback!

[2020-04-24 07:08] namjaejeon commented on #51
@jameshilliard We merged the patches in #exfat-next branch to master branch and released exfatprogs-1.0.2 version. Can you confirm if your build error is fixed ?

[2020-04-24 07:09] ismail commented on #61
It depends on what you want actually. Do you want people to link against libexfat.so and develop their own stuff? Then it needs to install the header files.

If you don't want to people develop against libexfat.so then easiest solution is to skip installing libexfat.so itself and only install the versioned library (libexfat.so.0*)

[2020-04-24 07:10] jameshilliard commented on #51
I'll go ahead and bump the buildroot package, the autobuilders should catch any additional build issues.

[2020-04-24 19:14] jameshilliard commented on #51
Looks like it's still failing [here](http://autobuild.buildroot.net/results/5c5/5c5d71fde80a4f2f027085bdb0fae9fb76ab9d32/build-end.log)

[2020-04-24 19:17] jameshilliard opened #64 "mkfs.c:60:14: error: format '%llu' expects argument of type 'long long unsigned int', but argument 2 has type 'long unsigned int' [-Werror=format=]"
This error is being hit by one of the buildroot autobuilders [here](http://autobuild.buildroot.net/results/c8e/c8e673e1d57a4210701ea7bd69ffd69fd333483c/build-end.log):
[code]

[2020-04-24 19:20] jameshilliard opened #65 "../include/libexfat.h:73:1: error: unknown type name 'ssize_t'; did you mean 'size_t'?"
This error is being hit by one of the buildroot autobuilders [here](http://autobuild.buildroot.net/results/667/667409f1d44a3f9be43aaff3f9a3426fe1386de2/build-end.log):
[code]

[2020-04-24 20:22] jameshilliard commented on #65
This error is due to #50 being removed/overwritten(guessing someone force pushed over it).

[2020-04-25 06:22] namjaejeon commented on #65
Yes, right.. Stranged... I just reset only two patches from HEAD. sorry about that! I push it to master again.

[2020-04-25 14:15] namjaejeon commented on #51
Hm.. If we can reproduce it, we can easily fix it... @hclee Hyunchul, any opinion ?

[2020-04-27 23:53] namjaejeon commented on #46
@rubyFeedback Could you please review this paragraph ? Is it enough for you to expect ?
'''
## exfatprogs
As new exfat filesystem is merged into linux-5.7 kernel, exfatprogs is
an official userspace utilities that contain all of the standard utilities
for creating and fixing and debugging exfat filesystem in linux system.
exfatprogress is the goal of providing high performance and windows level
ou

[2020-04-28 12:17] namjaejeon commented on #61
@ismail Pushed the patch(https://github.com/exfatprogs/exfatprogs/commit/27cacf4aa1e16ebcbefee40ff14d854670d6c874) to #next. Thanks!

[2020-04-28 12:21] namjaejeon commented on #65
Closed(https://github.com/exfatprogs/exfatprogs/commit/860326c6aa86ef65693533d45ba158b324bb359b)

[2020-04-28 12:21] #65 closed

[2020-04-28 12:31] jameshilliard commented on #51
If you want to reproduce it using buildroot's buildsystem/toolchains do this:
[code]
You might need to checkout [the specific buildroot commit the test failed on](http://autobuild.buildroot.net/results/5c5/5c5d71fde80a4f2f027085bdb0fae9fb76ab9d32/gitid) but it will probably reproduce fine on master.

To test the fix do this:
[code]

To clean the exfatprogs build during testing
[code]

[2020-04-28 12:34] ismail commented on #61
This looks nice, libexfat is statically linked but I don't see a downside to that.

[2020-04-29 02:54] namjaejeon commented on #61
BTW... libexfat should shared linked at default ? and if user want to build with static linking, use -static option.

[2020-04-29 03:44] ismail commented on #61
As long as you don't want users to depend on it, I don't see a need for public libexfat.

[2020-04-29 06:33] jameshilliard opened #74 "fsck.c:1213:9: error: missing braces around initializer"
I'm seeing this build error [here](http://autobuild.buildroot.net/results/93ae73969904acb9a8a1b39e5bc9c940ec163295/build-end.log).
[code]

[2020-04-29 06:54] namjaejeon commented on #74
The patch(https://github.com/exfatprogs/exfatprogs/commit/b0519f4fa7ce513d65d0f94c4d5a05be42730e7d) for this is already in exfat-Text.

[2020-04-29 12:51] namjaejeon commented on #46
Pushed it(https://github.com/exfatprogs/exfatprogs/commit/47ad5d6491fafd67fc4fe59e9fcac6982447e3b6) to #exfat-next.

[2020-04-29 12:51] #46 closed

[2020-04-29 12:52] namjaejeon commented on #51
@jameshilliard Thanks! Will try!

[2020-04-29 13:36] namjaejeon commented on #51
linkinjeon@linkinjeon-System-Product-Name:~/git/exfat_work/buildroot$ make

You seem to have the current working directory in your
LD_LIBRARY_PATH environment variable. This doesn't work.
support/dependencies/dependencies.mk:27: recipe for target 'dependencies' failed
make: *** [dependencies] Error 1

Help me!

[2020-04-29 16:02] jameshilliard commented on #51
Strange, I haven't seen that before, maybe make sure you have all packages [here](https://buildroot.org/downloads/manual/manual.html#requirement-mandatory) installed.

[2020-05-05 13:46] namjaejeon commented on #51
@jameshilliard Is there any way to build only exfatprogs ? "make" command seems to build all packages.

[2020-05-05 16:34] jameshilliard commented on #51
`make exfatprogs` I think should work

[2020-05-12 21:20] namjaejeon commented on #51
@jameshilliard issues you raise seems to be clear. Could you please confirm it with exfatprogs-1.0.3 ?

[2020-05-15 05:43] ismail commented on #61
This is fixed now.

[2020-05-15 05:43] #61 closed

[2020-05-15 20:43] jameshilliard commented on #51
@namjaejeon Package has just been bumped in buildroot, so far no [autobuilder failures with exfatprogs-1.0.3](http://autobuild.buildroot.net/?reason=exfatprogs-1.0.3) but it was just bumped so could take some time to show up if there's anything that was missed.

[2020-05-16 07:49] namjaejeon commented on #51
@jameshilliard okay!

[2020-05-16 21:05] #51 closed

[2020-05-16 21:05] #74 closed

[2020-05-16 21:05] #64 closed

[2020-06-09 07:18] hyeongseok-kim901 opened #106 "Long delay of fsck for complex filesystem"
Hello,
I have tested fsck.exfat 1.0.3 at master branch source code, with huge sdcard (512GB) after testing  fsstress about 3 days.
The fsstress generated about 80000 directory entries.

While checking, it takes about 200secs that is somewhat too long.
Profiling with blktrace, about 10GB has been read by 80961 read requests each for 128KiB which is the cluster size.

I wonder if it's possible to re

[2020-06-09 09:04] hclee commented on #106
Hello @hyeongseok-kim901,
The size needs to be changed. and  I consider read-ahead and stoping the travel when the marker is met.
Thank you.

[2020-06-10 00:35] hyeongseok-kim901 commented on #106
@hclee ,
Great !! Good to hear that.
When will it be released, v1.0.4 ? Do you have schedule? roughly?

[2020-07-10 15:00] mat-c opened #117 "Can't repait corrupted exfat"
Fsck doesn't manage to correct error.

Master branch

[check_inode: 726] size 4210715009 is greater than cluster heap: /DCIM/100MEDIA/P0580058.MP4
[check_inode: 726] size 4160850480 is greater than cluster heap: /DCIM/100MEDIA/P0580059.MP4
[check_inode: 726] size 4213510884 is greater than cluster heap: /DCIM/100MEDIA/P0590060.MP4
[check_inode: 726] size 4210379928 is greater than cluster heap: /D

[2020-07-13 23:54] hclee commented on #117
Hello @mat-c,
We have a plan to implement the "empty, but marked as contiguous" repair, and release the next version within next week.
But we are not sure to enable all repair features of fsck by default. We need more testing.
Thank you!

[2020-07-16 01:16] hclee commented on #106
@hyeongseok-kim901,
Sorry for the late reply.
I did the pull request #119 to solve this issues. Could you test it?
And we will release the next version within the next week.

[2020-07-16 01:38] hclee commented on #117
@mat-c,
I did the pull request #119 for this issue. Could you test it?
Because most of repair features are disabled currently, you should apply the following patch.

@@@ -36,12 -36,12 +36,12 @@@ static struct exfat_repair_problem prob
        {ER_BS_CHECKSUM, ERF_DEFAULT_YES | ERF_PREEN_YES, ERP_FIX},
        {ER_DE_CHECKSUM, ERF_DEFAULT_YES | ERF_PREEN_YES, ERP_FIX},
        {ER_FILE_VALID_SIZE,

[2020-07-17 01:55] hyeongseok-kim901 commented on #106
@hclee ,
Thanks. Improved.
Tested in approximately 20000 dir entried filesystem.
It read 2.7GB vs 1.2GB (current vs next), and took time as a half.

The request count is double of the current version, (21350 vs 40449)
and yes maybe it is due to reduce the request size.

Anyway, it have been improved, and I think it's good.

[2020-07-17 03:13] namjaejeon commented on #106
Could you please share performance difference with other fsck utils ?

[2020-07-17 03:51] hyeongseok-kim901 commented on #106
@namjaejeon ,
I have shared performace data with @hclee , current vs next and including other commercial exfat tool.
Can you please discuss with him?
I can't currently look into the next version's changes in detail.
Thanks.

[2020-07-17 03:58] namjaejeon commented on #106
@hyeongseok-kim901 Okay! Thanks!

[2020-07-24 06:56] hclee commented on #106
@hyeongseok-kim901
We decreased the elapsed time. the time decreases from 24.95 seconds to 11.63 seconds in our test environment where we fill Samsung 64GB UHS-I sdcard with 9947 directories and 16504 files by fsstress.
If you want to check this, you can apply #122

[2020-07-27 05:51] hclee commented on #117
@mat-c

@mat-c
ping? Could you test it with the last commit from the exfat-next branch?

[2020-08-10 16:02] mat-c commented on #117
Hi,

sorry I was in holidays. I will test this week.

Matthieu

----- Mail original -----
De: "Hyunchul Lee" <notifications@github.com>
À: "exfatprogs/exfatprogs" <exfatprogs@noreply.github.com>
Cc: "mat-c" <castet.matthieu@free.fr>, "Mention" <mention@noreply.github.com>
Envoyé: Lundi 27 Juillet 2020 07:51:38
Objet: Re: [exfatprogs/exfatprogs] Can't repait corrupted exfat (#117)

@mat-c

@mat-c ,

[2020-08-11 03:11] namjaejeon commented on #117
@mat-c Thanks!

[2020-08-11 05:40] hclee commented on #117
@mat-c,
After applying the above patch, you should use the fsck just for testings. there is a bug in the repair.

[2020-08-11 10:15] mat-c commented on #117
Hi,

I did the test, but did a mistake. The repair was done [1].
I replace ERF_DEFAULT_NO with ERF_DEFAULT_YES instead of ERF_PREEN_YES.

I think a dry run option should be great. Today the -n option will fix "ERF_DEFAULT_YES".

Also I saw that in check_inode, there may be an issue with ret handling. After ret is set, we do the next test that can change ret value.

Regards,

Matthieu

[1]
./fsck/f

[2020-08-18 02:32] hclee commented on #117
@mat-c,
Sorry for the late.

Yes, we have to change this.

We have the problem you mentioned.

Really thank you, And we will fix these soon.

[2020-09-25 01:35] hclee commented on #117
@mat-c,

We fixed the problems at PR #130 on 25 Aug  and merged this PR into the exfat-next branch.
Could you close this issue?

[2020-09-25 01:35] hclee commented on #106
@hyeongseok-kim901,
Could I close this issue?

[2020-10-02 11:55] pablomh opened #132 "-p option not documented for fsck"
I've noticed that `-p` option is not documented in [fsck.exfat.8](https://github.com/exfatprogs/exfatprogs/blob/master/manpages/fsck.exfat.8) man page
and I've tried to write a fix for it, but in order to do so I wanted to
understand the differences with `-y`.

To my undestanding `-y` always "fixes" what it can and `-p` depends on
a `ERF_PREEN_YES` flag that I don't understand where it comes from.

[2020-10-04 23:32] hclee commented on #132
Hello @pablomh,

"-p" means if fsck can repair any problems safely, let fsck fix those
automatically without user interaction.

[2020-10-06 06:07] hyeongseok-kim901 commented on #106
@hclee ,
Sorry for the late reply.
Sure, I think it's OK to close, I've checked the improvement.
Thanks.

[2020-10-06 18:47] LevitatingBusinessMan commented on #117
I am getting similar errors, but with the next branch I am suddenly able to mount regardless of the errors found by fsck.

[2020-10-07 23:13] hclee commented on #117
Did you use fuse exfat or kernel exfat? If you use kernel exfat, your disk can be mounted regardless of errors.

[2020-10-07 23:14] #106 closed

[2020-10-07 23:15] hclee commented on #132
This issue is solved in PR #133

[2020-10-07 23:15] #132 closed

[2020-11-08 01:39] tmm1 opened #134 "Resize/extend support?"
I'm curious if any thought has been given to resizing exfat file systems?

A similar effort was started in https://github.com/relan/exfat/pull/145

[2020-11-09 23:48] namjaejeon commented on #134
Thanks for your suggestion and info! very interesting!  We can add resize function to tune.exfat, but I don't have idea how to implement it. First, I need to look at the implementation of relan/exfat#145. The best thing is that the he who implemented relan/exfat#145 implements it equally to tune.exfat in exfatprogs.

[2020-11-25 15:43] papadakospan opened #136 "The exfat dichotomy"
There's https://github.com/relan/exfat:
- provides a FUSE driver (not needed in recent versions of the linux kernel)
- doesn't provide a tune utility

And this project (https://github.com/exfatprogs/exfatprogs) which is driven by Samsung, AFAIK:
- uses the native kernel driver
- doesn't provide a labeling utility, for example.

It would be really helpful to see some kind of merger here. It was sor

[2020-11-25 23:47] namjaejeon commented on #136
exfatprogs support setting volume label using mkfs.exfat and tune.exfat. exfatprogs doesn't have dump.exfat yet, we are planning to work it soon. and exfatprogs provide much better fsck than fuse-exfat's one. So I don't think that exfatprogs is merged with fuse-exfat.

[2020-11-25 23:54] papadakospan commented on #136
Awesome! I didn't know you could set the label with tune. The standard way is to (also) have some utility like <fs>label.
In that case, exfatprogs covers me for labeling. Maybe you could have that utility as an alias to tune -L?

As an example, gnome-disks was looking to use a exfatlabel utility, to rename a partition, but that utility isn't provided immediattely by exfatprogs. Good to know I can

[2020-11-25 23:56] hclee commented on #136
As namjae said, we are going to implement corruption repair and dump.exfat, and etc. At least we can complete these features until  the third quarter of next year.

[2020-11-26 00:17] namjaejeon commented on #136
@papadakospan Could you please check README ?

- tune.exfat:
    Adjust tunable filesystem parameters on an exFAT filesystem

Usage example:
    1. print current volume label.
        tune.exfat -l /dev/sda1
    2. set new volume label.
        tune.exfat -L "new label" /dev/sda1

To set volume label, -L option is already used.

[2020-11-26 00:55] papadakospan commented on #136
Yes of course I checked the manpage, It the reason I learned OF the `-L` option. What I'm suggesting is a separate program named `exfatlabel`, that would do the same thing as `tune -L`, because every filesystem has it as a utility and users will expect it and get jobs done quicker.

[2020-11-27 00:47] namjaejeon commented on #136
hm, what is *tune* util ? Is it contained in utils-linux ?

[2020-11-27 00:51] papadakospan commented on #136
I mean your tune utility, `tune.exfat -L`

[2020-11-27 03:49] namjaejeon commented on #136
OK, Will take a look!

[2020-12-28 16:53] maddes-b opened #138 "[tools][feature request] Allow To Change Volume Serial Number ("ID")"
Please consider adding a separate tool or extending the label tool to change the volume serial number of an exFAT file system (offset 0x64/100 in main boot sector).
For FAT under Linux one can use `mlabel -N 12345678 -i /dev/sdb1`.

[2021-01-13 09:10] namjaejeon commented on #136
@papadakospan exfatlabel has been applied to exfat-next. please check it (https://github.com/exfatprogs/exfatprogs/pull/137). Thanks!

[2021-01-13 09:10] namjaejeon commented on #138
Okay. I will add -i option in exfatlabel.

[2021-01-13 10:22] papadakospan commented on #136
Thanks! Just used `exfatprogs` yesterday for a new SD card!

[2021-01-13 10:23] #136 closed

[2021-01-25 09:25] mat-c commented on #117
I have same issue with next :

exfatprogs version : 1.0.4
ERROR: /DCIM/100MEDIA/P2880399.TMP: cluster is marked as free. truncate to 904790016 bytes
. Truncate (y/N)? n
/dev/mmcblk1p1: checking stopped. directories 3, files 10
/dev/mmcblk1p1: files corrupted 1, files fixed 0

The problem is that it is not possible to correct error with ERF_DEFAULT_NO flags. Event with -y option. Is that expected ?

[2021-01-31 17:32] mfleetwo opened #139 "[feature request] File system usage reporting"
Please add file system usage reporting of unmounted exfat file systems into one of the command line tools.  Probably extend `tune.exfat -v` output.

Note that the Linux kernel exfat implementation, [exfat_statfs()](https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/tree/fs/exfat/super.c?h=v5.10.12#n72), already provides this when the file system is mounted for the [statfs(2)](https:/

[2021-02-01 01:35] namjaejeon commented on #139
I agreed your suggestion.

Before working it, Could you please give us more detail example from other filesystem tools ? Which file system tool supports it? and which option does it define ? I would like to check if tune.exfat is proper place or not.

Thanks!

[2021-02-01 19:13] mfleetwo commented on #139
There is no standardised way of querying file system usage for different file system types, as can be seen from the examples below.  They do all provide a method though.

exfatprogs already provides file system size information, but not yet the usage:
[code]

Other file system examples:

1. btrfs using [btrfs filesystem(8)](https://man7.org/linux/man-pages/man8/btrfs-filesystem.8.html) `show`
[cod

[2021-02-02 10:47] namjaejeon commented on #139
@mfleetwo Okay. I will start to work it. Thanks for detail answer!

[2021-02-02 12:17] mfleetwo commented on #139
And here is how [exfat-utils](https://github.com/relan/exfat) does it with [dumpexfat(1)](http://manpages.ubuntu.com/manpages/focal/man8/dumpexfat.8.html)
1. FS size
[code]
2. FS usage
[code]

[2021-02-02 23:31] namjaejeon commented on #139
Yes, dump.exfat -v would be better.

[2021-02-03 01:29] hclee commented on #117
Yes, there are some bugs currently. We are going to release the repair feature until second quarter.

[2021-02-03 23:42] namjaejeon commented on #138
@maddes-b We have committed a volume serial set patch to #exfat-next branch.(https://github.com/exfatprogs/exfatprogs/commit/b4d9c9eeb5c28b503e103e2c4ec22bc146446d9f)

Please check it work fine as you expected.
[code]

[2021-02-04 17:28] maddes-b commented on #138
For end users you should note that the new serial should be entered in hex-decimal, e.g. "0x12345678" instead of "12345678" or "1234-5678".
Side note: The README misses `make` as a prerequisite. Maybe common to developers, but maybe not to all contributors wanting to test.

Working well in my tests.

[2021-02-05 03:41] #45 closed

[2021-02-06 12:11] mfleetwo commented on #139
That does contain the information that is needed for determining exFAT usage.

However all the tools report usage / availability in units of the smallest allocatable size for their file system.  Unix file systems call this the block size and Windows file systems call it the cluster size.  So I suggest reporting the exFAT usage figures in units of cluster size, not sectors.  See exfat-utils and ntf

[2021-02-07 01:10] namjaejeon commented on #139
Agreed:) I will update it and inform you if the patch is merged into master.

[2021-02-07 17:36] tmm1 commented on #117
I have also been having corruption issues which fsck is not able to fix.

[2021-02-08 02:19] namjaejeon commented on #138
Thanks for your review!

Where is missing "make" ? You are saying "Build steps" section ?

[2021-02-08 11:47] maddes-b commented on #138
On a clean Ubuntu 20.10 when just installing the packages from README.md...
[code]
, then `make` is missing on the system.

P.S.: Already closing the issue as the main topic has been implemented.

[2021-02-08 11:47] #138 closed

[2021-02-08 22:34] namjaejeon commented on #138
Okay, Thanks for your answer and Let me know it if you have any issue.

[2021-02-09 23:21] namjaejeon commented on #139
We have release exfatprogs 1.1.0 version. You can use this release. If you have any issue, Let me know it.

[2021-02-14 09:04] rooiratel opened #150 "Can't recover corrupted boot region with 1.1.0"
Hi, according to https://github.com/exfatprogs/exfatprogs/releases/tag/1.1.0 we should now be able to recover a corrupted boot region with version 1.1.0

I installed the new version but it won't allow me to select y to fix the boot region. It just assumes N and skips it.

I'm using Arch Linux, using the exfatprogs package version 1.1.0-1

Here is a screenshot of my terminal output when I try to re

[2021-02-15 01:15] hclee commented on #150
Hello @rooiratel
you should provide -y option. Please refer to fsck.exfat (8) manpage

[2021-02-15 07:15] rooiratel commented on #150
Thanks @hclee

Doing : `sudo fsck.exfat -y /dev/sdd`  worked and it repaired the drive without any issues.

I was just confused because normally when a command line application asks (y/N) I expect it to wait for me to give it input.

Reading the man pages the -r option is what I assumed it would do by default.

Maybe remove the (y/N) question from the output if you are not running it in interactiv

[2021-02-15 07:15] #150 closed

[2021-02-16 01:28] namjaejeon commented on #139
@mfleetwo You sent the patch("dump.exfat: exit with status 0 on success") to us. Thanks for the patch!  Are you waiting for exfatprogs 1.1.1 release that is committed this patch? I wonder if we should release 1.1.1 that includes this patch right now in order to use dump.exfat at GParted.

[2021-02-16 09:12] mfleetwo commented on #139
Thank you for asking.  No, I am not waiting for patch "dump.exfat: exit with status 0 on success" to be in a release of exfatprogs.

GParted is just going to check stderr is non-empty to determine failure.  I think this is the simplest solution.  To do otherwise is going to require either more coding to check for exfatprogs >= 1.1.1, or documenting the same which can be ignored.

* exfat::set_used

[2021-02-17 23:35] Neustradamus opened #152 "Detach this fork from old upstream"
Can you detach this fork from old upstream?

At this time:
- This branch is 125 commits ahead, 5 commits behind namjaejeon:master

Contact GitHub: "Attach, detach, or reroute forks"
- https://github.com/contact
- https://support.github.com/contact?tags=rr-forks

Thanks in advance.

[2021-02-23 15:19] tmm1 commented on #117
Here's what fsck reports:

[code]

[2021-03-08 08:28] #152 closed

[2021-03-08 08:30] namjaejeon commented on #139
@mfleetwo Sound great! If your issue is clear, Could you please close this issue ? Thanks for your help!

[2021-03-08 14:25] #139 closed

[2021-03-08 14:25] mfleetwo commented on #139
Exfat usage reporting works.  Changes to GParted were merged as a
result.

Closing issue.
Thanks,
Mike Fleetwood (GParted Developer)

[2021-03-29 13:10] sodiumchl opened #157 "Unknown entry type 0xaa"
I have an SD card that mounts/fsck fine on MacOS. However, fsck.exfat 1.1.0 reports
Unknown entry type 0xaa

[2021-04-20 00:15] tmm1 commented on #117
I'm also having the same issue, where even with `fsck.exfat -y` it doesn't repair anything:

[code]

Is there any ETA on Q2 repair updates?

[2021-04-21 06:16] hclee commented on #117
We have disabled most of repairs due to bugs. We have a plan to release exfatprogs with these within a few months.

[2021-05-10 12:21] cvubrugier opened #163 "Invalid boot checksum after formatting an Advanced Format 4K native HDD"
Hi,

I observe that mounting an exFAT file system formatted with exfatprogs fails if the underlying device is an [Advanced Format, 4K
native](https://en.wikipedia.org/wiki/Advanced_Format) HDD. 4K native HDDs report both a physical and logical block size equal to 4 KB.

Below are the properties of a 4Kn disk emulated with QEMU:

    $ lsblk --topology /dev/vda
    NAME ALIGNMENT MIN-IO OPT-IO PHY-

[2021-05-10 13:27] namjaejeon commented on #163
Okay, Can you check if bd->sector_size is not 4096 ?
int exfat_get_blk_dev_info(struct exfat_user_input *ui,
		struct exfat_blk_dev *bd)
...
	if (ioctl(fd, BLKSSZGET, &bd->sector_size) < 0)
		bd->sector_size = DEFAULT_SECTOR_SIZE;

[2021-05-10 23:35] namjaejeon commented on #163
Sound good!

[2021-05-31 12:56] cvubrugier commented on #163
Fixed
=

This issue and other issues observed with 4Kn HDDs and reported by @sandeen on the Linux [fsdevel mailing list](https://lore.kernel.org/linux-fsdevel/372ffd94-d1a2-04d6-ac38-a9b61484693d@sandeen.net/) are fixed by the following commits:

* [dump: use BytesPerSectorShift of boot sector](https://github.com/exfatprogs/exfatprogs/commit/7037652)
* [fsck: use BytesPerSectorShift of boot sector

[2021-05-31 12:56] #163 closed

[2021-09-03 08:52] hgkamath opened #173 "dump.exfat should do more than just disk/volume information"
The advantages of exfat filesystem are that (A) it is simple, (B) has huge maxsize limit and (C) has a bit for indicating contiguous-ness allowing for read optimization.
The simplicity is a trade off against not having a journal and disk failure tolerance, robustness.

A use case is to store large static container files like virtual-disk images, that are seldom resized/moved. They may also be defr

[2021-09-04 14:17] namjaejeon commented on #173
Okay, I can not understand fully what you do. Can you implement it and show the execution log and usage at real ?

[2021-09-04 21:22] hgkamath commented on #173
Essentially, dump tool for kernel-driver based exfatprogs should give information similar to the fuse-driver based exfat-utils
compare
https://manpages.debian.org/experimental/exfatprogs/dump.exfat.8.en.html
https://manpages.debian.org/unstable/exfat-utils/dumpexfat.8.en.html

[2021-11-01 22:28] sebma commented on #134
@namjaejeon You said

Why not contact that developer and ask him if he agrees to implement if for exfatprogs ?

[2021-11-03 02:46] yijiangqiu1 opened #176 "fsck:fix double free of exfat pointer"
in function init_exfat(exfat,bs),if it fails to calloc memory,it will call function free_exfat and return -ENOMEM. Thus it will goto err in main function and call free_exfat(exfat) again.
      As follows:
           main
             ->init_exfat(exfat,bs)
               ->free_exfat(exfat)
                 return -ENOMEM
             ->free_exfat(exfat)

[2021-11-03 02:51] yijiangqiu1 commented on #176
A solution of this problem may be as follows:
       `ret = init_exfat(exfat, bs);
       if (ret) {
               exfat=NULL;
                goto err;
       }
`

[2021-11-03 03:02] yijiangqiu1 opened #177 "fsck: fix Out-of-Bounds Accesses in function bytes_to_human_readable"
In function bytes_to_human_readable, if bytes > 1024PB, the variable named i will be 6 and  in “snprintf(buf, sizeof(buf), "%u.%02u %s", quoti, remain, units[i]);”，function will access units[6] . This will cause Out-of-Bounds Accesses.

[2021-11-03 03:14] namjaejeon commented on #176
Please send the pull request included patches to #exfat-next branch in exfatprogs.

[2021-11-03 03:15] namjaejeon commented on #177
Please send the pull request included patches to #exfat-next branch in exfatprogs.

[2021-11-03 03:22] yijiangqiu1 commented on #177
One solution maybe like this:
![image](https://user-images.githubusercontent.com/36325255/140005867-2b1504aa-12c9-4079-9611-5736286a3519.png)

[2021-11-03 03:22] yijiangqiu1 commented on #177
One solution maybe like this:

[2021-11-03 05:01] namjaejeon commented on #177
Okay, Do you know how to send pull request  ?

[2021-11-03 06:03] yijiangqiu1 commented on #177
I am trying to learn it

[2021-11-03 06:10] namjaejeon commented on #177
Sound good, Please reference how other developers did work it. https://github.com/exfatprogs/exfatprogs/pull/175

[2021-11-07 22:48] hclee commented on #177
@yijiangqiu1
If you have trouble with sending a pull request, I will push your commits. Can you tell me your email address for signed-by in commit description?

[2021-11-08 02:42] yijiangqiu1 commented on #177
sorry, I am busy with other things last week

[2021-11-08 02:51] yijiangqiu1 commented on #177
@hclee thanks. I have done it.https://github.com/exfatprogs/exfatprogs/pull/178

[2021-11-08 02:51] #177 closed

[2021-11-08 02:52] #176 closed

[2021-11-10 08:04] liujinbao31 commented on #117
Hello, I encountered the same problem when using exfatprogs fsck
The log is shown in the figure:
![无法修复first cluster](https://user-images.githubusercontent.com/76391769/141069903-d3218770-2aac-4d3f-b702-6f71aa0ebf1b.png)
After searching, it is found that the cause of this problem is:
static struct exfat_repair_problem problems[] = {
	...
	{ER_FILE_FIRST_CLUS, ERF_DEFAULT_NO, ERP_TRUNCATE},
	...
};

[2021-11-10 08:44] hclee commented on #117
@liujinbao31
The current version  of fsck doesn't support repairing corruptions. I am implementing it in the branch, https://github.com/hclee/exfat-tools/tree/repair-211110 and need some time .

[2021-11-13 10:59] liujinbao31 commented on #117
@hclee
Change ERF_DEFAULT_NO to ERF_DEFAULT_YES, the code did not perform any repair operations, just changed the return value, right?

[2021-11-17 08:02] hclee commented on #117
@liujinbao31
It can repair some of them, but there is some bugs.

[2021-11-22 18:22] lejeczek opened #186 "Full format without --full-format ?"
Hi
Is mkfs.exfat doing full format without being asked for it? It seems like it.
thanks, L
exfatprogs-1.1.2-2.fc35.x86_64
It takes 'mkfs.exfat ' ages.
many thanks, L.

[2021-11-23 01:11] hclee commented on #186
Yes, mkfs.exfat creates an exfat file system without asking the user.
What is "full format"?, and where does the option, "--full-format" come from?

[2021-11-25 12:36] Bonnietwin opened #187 "Exfatprogs Release Signing Key has expired"
I did a gpg --verify on the  exfatprogs-1.1.3.tar.xz.asc  file and it said it was a good signature but it also said that the key had expired.

[2021-11-27 01:51] hclee commented on #187
I have renewed the key. Can you update it and try the verification again?

[2021-11-27 12:17] Bonnietwin commented on #187
I have renewed the key and now the verification works with no problems. Thanks very much.

I am closing this issue now.

[2021-11-27 12:17] #187 closed

[2021-12-08 12:26] fijam opened #188 "exfat-fs fails with a Windows-formatted drive"
Hi,

I suppose this is a kernel driver bug, but I hope by filing it here it will reach the correct people.

I have formatted a 3TB drive in USB enclosure under Windows 10 21H1 (OS Build 19043.1348) as exFAT.

I try to use it on a Linux device with kernel 5.15.5 and exfatprogs 1.1.3.

Connecting the drive:
[code]

Mounting the drive:
[code]

exfatprogs utilities:

[code]

[code]

[code]

Please let

[2021-12-08 13:28] namjaejeon commented on #188
Can you show me the value after commanding the below ?

# cat /sys/block/sda/queue/hw_sector_size

[2021-12-08 13:33] fijam commented on #188
[code]

[2021-12-08 13:36] namjaejeon commented on #188
Please do this also.

$ lsblk --topology /dev/vda
NAME ALIGNMENT MIN-IO OPT-IO PHY-SEC LOG-SEC ROTA SCHED       RQ-SIZE  RA WSAME
vda          0   4096      0    4096    4096    1 mq-deadline     256 128    0B

[2021-12-08 13:38] fijam commented on #188
[code]

[2021-12-08 13:50] namjaejeon commented on #188
okay.  Could you please try to mount after formatting your usb drive using mkfs.exfat ?

[2021-12-08 13:52] fijam commented on #188
I can, but I need to back up the data first. It will take a few hours. I will report back!

[2021-12-08 13:55] namjaejeon commented on #188
Ah..Okay, no need to do it if you need backup.

[2021-12-08 13:59] namjaejeon commented on #188
@cvubrugier Could you please help me fix this issue ? I don't have this type of HDD.
His hard has 4K hw sector and 512B logical sector. I wonder if this difference is causing this issue.
Do you have this type of HDD drive ?

[2021-12-08 14:11] namjaejeon commented on #188
@fijam if you try to mount  /dev/sdb2 ?

[2021-12-08 14:19] fijam commented on #188
Mounting sdb2 in fact works! Although I don't understand why Windows creates two volumes (the drive only appears as one volume in Windows).

Apologies for the trouble.

[2021-12-08 15:58] cvubrugier commented on #188
@namjaejeon wrote:

I could arrange for that. Most modern HDDs have 4 KB sectors but emulate 512 bytes sectors ([512e](https://en.wikipedia.org/wiki/Advanced_Format#512_emulation_(512e))) so that even firmware or OSes that do not support 4 KB sectors can work with them.

I guess the problem reported by @fijam is not caused by the HDD sector size.

I think sector size bits should be 9 (`1 << 9 == 5

[2021-12-08 16:03] fijam commented on #188
Looks like you got it right:

[code]

[2021-12-08 16:10] cvubrugier commented on #188
Maybe the exfatprogs utilities do not display an error if the file system magic does not match the one for exFAT.

In your situation, I think `fsck.exfat`, `dump.exfat`, and `tune.exfat` should have warned you that it is _not_ an exFAT file system. Instead of that, the commands reported that the file system was corrupted.

There is probably room for improvement here.

[2021-12-08 22:14] namjaejeon commented on #188
@cvubrugier Fully agreed:)

[2021-12-08 23:28] hclee commented on #188
@cvubrugier
Thank you for comments. I will fix it.

[2021-12-16 23:18] #188 closed

[2021-12-19 14:57] devurandom opened #191 "`fsck.exfat --repair /dev/...` does not ask questions and `fsck.exfat --repair-yes /dev/...` always answers `n`"
`fsck.exfat --repair` does not ask me anything interactively (always answering `n` instead) and `fsck.exfat --repair-yes` does the same.

[code]

[code]

[2021-12-19 15:23] devurandom commented on #191
Is it possible that this:

https://github.com/exfatprogs/exfatprogs/blob/7c3b61769bb04eaafedf245db396813bbcfb2b0a/fsck/repair.c#L64-L66

always sets `repair = false` for problems which have a "no" default, like the cluster problems:

https://github.com/exfatprogs/exfatprogs/blob/7c3b61769bb04eaafedf245db396813bbcfb2b0a/fsck/repair.c#L39-L43

?

From a user point of view I could imagine it to work

[2021-12-20 04:35] hclee commented on #191
The current version can repair only checksum corruptions, and refuse fixing the other corruptions with "n".

[2021-12-20 11:41] lejeczek commented on #186
From 'man' page for mkfs.exfat of the version I mentioned above.
...
       -f, --full-format
              Performs  a full format.  This zeros the entire disk device while creating the
              exFAT filesystem.
...

[2022-03-03 08:44] yjr1220 opened #192 "kernel 3.10.14 is not useful!"
hello !

            I compile the code with mips cross compile tool ，but the mkfs.exfat can not work normal !  what' wrong ?  my kernel version is 3.10.14 .

                  thanks a lot!

[2022-03-03 08:45] yjr1220 commented on #192
kernel need config ?

[2022-03-03 22:33] hclee commented on #192
Can you tell us in detail?

[2022-07-13 18:50] RastaDill opened #198 "Not access to folders"
Hello. I have:
* Fedora 35
* exitprocess v1.1.3
* external USB Hard Drive

In my case USB Hard Drive shared folders via my router. When i mount hard drive to my PC a have not access to my folder:
* If open via file manager - mount point show is empty
* if i  do command ```ls``` - no it is not possible to access the "Game": there is no such file or directory
Games is my exists folder which success

[2022-07-14 08:09] namjaejeon commented on #198
Hm.. I just guessing this problem is name hash.

Can you check the below patch ? Let me know if your issue is fixed when using skip_stream_check mount option.
https://lore.kernel.org/lkml/CAKYAXd99NAbQP6m93P3bcjvWTN-T8Qy59DHJyfyTHqdH-7aWBQ@mail.gmail.com/T/

[2022-07-14 14:23] namjaejeon commented on #198
Please do the following step.

git clone --branch=test https://github.com/namjaejeon/linux-exfat-oot

[code]

[2022-07-18 07:29] RastaDill commented on #198
@namjaejeon Something is not working to apply the patch.
log out make:
[code]
Next spet do insmod via sudo
[code]

I tryed on my laptop, not virtual machine.

[2022-09-12 11:10] progo opened #202 "tune.exfat breaks the FS in some cases"
I have a camera that will format into exfat if the card is sufficiently large. The card formatted-in-camera will mount okay on my gentoo PC but when I try to give the card a label, the FS breaks.

Steps to reproduce
----------------------

Camera in question: Olympus OM-D E-M1 Mark 2, firmware 3.6.

1. Take a suitably large card so that the camera will default to an
   exfat formatting (64 GiB)
2.

[2022-09-13 03:23] namjaejeon commented on #202
@progo Thanks for your detailed report! I have reproduced it. Could you please provide the exfat image that after setting the label on windows ? So, You can do the following step.

1. format it in your camera.
2. set the label on windows PC.
3. dump your storage and give me it.

[2022-09-13 07:18] progo commented on #202
Alright.

1. Formatted in-camera
2. labeled the card on a Windows 10 machine "XYZZY"
3. The label isn't readable by `tune.exfat` but `mount` can still find it. Interesting! (Running a 5.17 kernel)
[code]
4. Making the block device image: https://fwwm.us/p/oly_sdcard_win10_labeled.img.bz2
5. (Curiously, this fs isn't readable by the camera! :P)

[2022-09-13 07:45] namjaejeon commented on #202
@progo Thanks for sharing more info. I have found what is problem now. your camera tools doesn't seem to add the label entry. I just want to know how/where windows add label entry to exfat. I will check it.

[2022-09-13 08:06] namjaejeon commented on #198
@RastaDill I don't know how I can help you. You need to find why you can not load exfat.ko in your system.

[2022-09-13 08:07] namjaejeon commented on #198
@RastaDill Can you run fsck.exfat to your exfat device ?

You need to download exfat-next branch, which is not release yet.

git clone --branch=exfat-next https://github.com/exfatprogs/exfatprogs

[2022-09-13 08:08] namjaejeon commented on #192
no reply for long time.

[2022-09-13 08:08] #192 closed

[2022-09-13 08:10] namjaejeon commented on #191
@devurandom

Please try to run fsck.exfat on #exfat-next branch.

git clone --branch=exfat-next https://github.com/exfatprogs/exfatprogs

[2022-09-13 08:12] namjaejeon commented on #173
fsck is ready on exfat-next branch. Please check whether it is covered for your request.

git clone --branch=exfat-next https://github.com/exfatprogs/exfatprogs

[2022-09-13 10:45] hgkamath commented on #173
Not really, the issue request was regarding being able to do some get file-fragment information, in case of need to do manual-scraping/recovery before even attempting fs-repair. Online fs-repair tools modify on-disk data, sometimes as a user one can only say "Y" to whatever is wants confirmation on. Pre-saved FAT file-fragment info dumps is one contingency option. This option could be useful for a

[2022-09-13 13:29] namjaejeon commented on #191
Okay...

[2022-09-15 02:13] namjaejeon commented on #202
@progo Can you confirm your issue is fixed using #exfat-next branch ?

git clone --branch=exfat-next https://github.com/exfatprogs/exfatprogs

[2022-09-15 13:10] progo commented on #202
@namjaejeon Thank for quick action. I have time to check this on Saturday (UTC+3), expect a response then. :)

[2022-09-15 13:24] namjaejeon commented on #202
@progo Okay!

[2022-09-17 14:14] namjaejeon commented on #202
@progo Thanks for your confirmation:).

[2022-09-24 14:18] RastaDill commented on #198
@namjaejeon i clone, build and install exfatprogs:
[code]
After add key -y:
[code]

fsck fixed all file on folders which was not accessible. Now after mount all corrected!
Updated bug on Fedora bugzilla: https://bugzilla.redhat.com/show_bug.cgi?id=2113964

[2022-09-24 15:02] namjaejeon commented on #198
@RastaDill Thanks for your check! We will release public next version soon.

[2022-10-25 12:00] scaronni commented on #198
Hello! Any chance for an ETA for the new release? Thanks.

[2022-10-25 23:53] namjaejeon commented on #198
There have been additional fixes recently. We are planning to release 1.2.0 version next week.

[2022-10-31 01:44] namjaejeon commented on #202
I have released 1.2.0 version included this issue fixes. Close this issue. Thanks.

[2022-10-31 01:44] #202 closed

[2022-10-31 01:45] namjaejeon commented on #198
@RastaDill I have released 1.2.0 version. Please close this ISSUE if you don't have other issue.

[2022-10-31 01:47] namjaejeon commented on #117
@mat-c I have released 1.2.0 version, Can you check if there is still your issue ?

[2022-11-09 06:22] #198 closed

[2022-11-09 06:23] #191 closed

[2022-11-09 06:23] namjaejeon commented on #186
no response. closed.

[2022-11-09 06:23] #186 closed

[2022-11-09 06:24] namjaejeon commented on #173
@hgkamath We have released exfat 1.2.0 version. Please check it.

[2022-11-09 06:26] namjaejeon commented on #157
@sodiumchl Can you re-try if this issue still is coming on exfat 1.2.0 version(or the latest master branch) ?